*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: 'Share-Techmono';
    src: url(./Fonts/Share-TechMono.otf) format('opentype');
    font-weight: normal;
}

@font-face{
    font-family: 'technott';
    src: url(./Fonts/technott.ttf) format('truetype');
    font-weight: normal;
}

:root{
    --fonte-paragrafo: "Share-Techmono", serif;
    --fonte-titulo: "technott", serif;
    --fonte-normal: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    font-family: var(--fonte-normal);
    background-image:linear-gradient(rgba(255, 255, 255, 0.39), rgba(250, 247, 247, 0.25)), url(imagens/43534.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
}

header{
    background-image: url(imagens/3d-illustration-blue-purple-futuristic-sci-fi-techno-lights-cool-background.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow:  6px 6px 13px 0px rgba(0, 0, 0, 0.473) ;
    height: 40vh;


}

header > h1{
    font-family: var(--fonte-titulo);
    color: rgba(255, 255, 255, 0.911);
    text-align: center;
    font-size: 7vw;
    text-shadow: 2px 2px 0px black;
    padding-top: 11vh;
}

.normal{
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom:  ;
    line-height: 2em;
    font-family: var(--fonte-paragrafo);
    font-size: 3vw;
}

.imagem{
    background-color: grey;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 35vh;
    margin-top: 10vh;
    line-height: 2em;
    font-family: var(--fonte-paragrafo);
    font-size: 2.5vw;
    font-weight: 500;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}

.imagem p{
    display: inline-block;
}

.imagem#vscode{
    background-image: url(imagens/website-html-code-browser-view-printed-white-paper-closeup-view.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 35vw;
}

.imagem#vscode >p{
    background-color: rgba(238, 238, 240, 0.726);
    width:45vw;
    border-radius:10px;
    padding-left: 18px;
    font-weight: bold;
    font-size: 3vw;

}

.imagem#estagiario{
    background-image: url(imagens/it_intern_wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 35vw;

}

.imagem#estagiario p {
    background-color: rgba(255, 255, 255, 0.493);
    width:40vw;
    border-radius:10px;
    padding-left: 18px;
    font-weight: bold;
    font-size: 3vw;
    

}

.imagem#formando{
background-image: url(imagens/female_it_graduate_wallpaper.jpg);
background-size: cover;
background-attachment: fixed;
height: 40vw;

}

.imagem#formando p{
    background-color: rgba(255, 255, 255, 0.493);
    width:42vw;
    border-radius:10px;
    padding-left: 18px;
    font-weight: bold;
    font-size: 3vw;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

a{
color: white;
text-decoration: none;
font-family: var(--fonte-normal);
font-weight: bold;
}

a:hover{
    text-decoration: underline;
}